* {
  box-sizing: border-box;
}

.allstyles {
  margin: 50px 50px;
}

header {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #111111;
  transition: all 1s;
}

.menu:hover {
  text-decoration: underline;
}

.phone,
.mail {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #111111;
  transition: all 1s;
}

.menu,
.phone,
.mail,
.btn {
  justify-content: center;
  align-items: center;
  display: flex;
}

.phone,
.btn {
  width: 190px;
}

.btn button {
  padding: 15px 30px;
  color: #fff;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  z-index: 0;
}

.wrapper2 .info {
  grid-column: 1/3;
  grid-row: 1/6;
}

.info h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  color: #111111;
}

.info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #111111;
}
.wrapper2 .banner {
  grid-column: 3/6;
  grid-row: 1/6;
  background-image: url(../images/bigBanner.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 420px;
  margin-right: -60px;
}

.wrapper2 .btn {
  margin-top: 60px;
  padding: 15px 30px;
  color: #fff;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.wrapper3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.blueblock {
    grid-column: 4/6;
    grid-row: 1/6;
    background: #2b7af1;
    border-radius: 0px 0px 0px 10px;
    margin-top: -155px;
    margin-right: -60px;
    width: 620px;
    height: 810px;
}
